#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.servicesTitle{
    color: #646cff;
}

.servicesList{
    text-align: center;
}